@model List<KangHui.Web.Models.JianBao>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/mui.min.css" rel="stylesheet"/>
    <link href="~/Content/app.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-migrate")
    <script src="~/Scripts/mui.min.js"></script>


    <style>
        html,
        body {
            background-color: #efeff4;
        }

        .mui-bar .mui-pull-left .mui-icon {
            padding-right: 5px;
            font-size: 28px;
        }

        .mui-bar .mui-btn {
            font-weight: normal;
            font-size: 17px;
        }

        .mui-bar .mui-btn-link {
            top: 1px;
        }
    </style>

</head>
<body style="margin: 0; padding: 0">

<header id="header" class="mui-bar mui-bar-nav">
    <h1 class="mui-title">简报</h1>
    <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">查询</button>
</header>
       
    <div class="mui-content">

        <form action="JianBaoIndex" data-ajax="true" data-ajax-mode="replace" data-ajax-success="" data-ajax-update="#listContainer" id="searchForm"></form>

        <div  id="listContainer">
            @Html.Partial("JianBaoItems", (object) Model)
        </div>

        </div>





</body>
</html>
